@media only screen and (max-width:970px){
	

	
	.tutorials{
		width: auto;
		margin:0;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.topcontainer
	{
		width: auto;
		margin:10px 0px 0px 10px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.midcontainer
	{
		width: auto;
		margin:0px 0px 0px 10px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.bottomcontainer
	{
		width: auto;
		margin:0px 0px 0px 10px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.video>iframe
	{
		width: auto;
	}
	.text
	{
		width: auto;
	}
}