@media only screen and (max-width:970px){
	
	
	.review{
		width: auto;
		margin:0;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.topcontainer
	{
		width: auto;
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.secondcontainer
	{
		width: auto;
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.thirdcontainer
	{
		width: auto;
		margin:0px 0px 0px 50px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.bottomcontainer
	{
		width: auto;
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.topcontainer>.img
	{
		margin-left:60px;
	}
	.secondcontainer>.img
	{
		margin-left:60px;;
	}
	.thirdcontainer>.img
	{
		margin-right: 20px;
	}
	.bottomcontainer>.img
	{
		margin-left:60px;
	}
}