@charset "utf-8";
/* CSS Document */
/*footer*/
.footer{
	display: grid;
	grid-template-columns:auto auto;
	background-color: #FA4245;
	padding: 7px;

}
.connect{
	display: flex;
	flex-direction: row;
	margin-left: 12px;
	margin-bottom:19px; 
}
.connect>h3{
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
}

.copyright{
	text-align: right;
	margin-right: 150px;
	margin-bottom:19px; 
}
.facebook img{
	margin-left: 18px;
	border-radius: 50%;
	height: 50px;
}
.linkedin img{
	margin-left: 18px;
	border-radius: 50%;
	height: 50px;;
}
.instagram img{
	margin-left: 18px;
	border-radius: 50%;
	height: 50px;
}

.twitter img{
	margin-left: 18px;
	border-radius: 50%;
	height: 50px;
}
