section
{
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#photo
{
	background: darkgreen;
	padding: 197px;
	margin:2px 200px 0px 200px;
	display: flex;
	flex-direction: row;
}
#photo img
{
	height: 20px;
}

#aboutpage
{
	background: blue;
	padding: 147px;
		margin: 3px;

}
#news
{
	background: blue;
	padding: 147px;
		margin: 3px;
}