@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:768px){
	.header{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.name{
		width: 100%;
		margin: 0 auto;
	}
	.profession{
		width: 100%;
		margin: 0 auto;
	}
	.menu{
		width: 100%;
		margin: 20px auto;
		display: flex;
		flex-direction: column;
	
		
	}
	.menu>div{
		width: 100%;
		margin: 0 auto 20px; 
		text-align: center;
	}
	.section{
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.footer{
		width: 100%;
		display: block;
	}
	
}