@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:970px){
	.header{
			display: flex;
			flex-direction: column;
			text-align: center;

		}
		.name{
			width: auto;
			margin: 0 ;
		}

		.menu{
			width: auto;
			margin: 0;
			display: flex;
			flex-direction: column;
		
			
		}
		.menu>div{
			width: auto;
			margin: 20px auto ;
			text-align: center;
		}

		
		.glossary{
			width: auto;
			margin:0;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		.topcontainer
		{
			width: auto;
			margin:10px 0px 0px 10px;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		.midcontainer
		{
			width: auto;
			margin:0px 0px 0px 10px;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		.bottomcontainer
		{
			width: auto;
			margin:0px 0px 0px 10px;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		.video>iframe
		{
			width: auto;
		}
		.text
		{
			width: auto;
		}
		.footer
		{
			width: auto;
			margin: 0px;
			display: flex;
			flex-direction: column;
			align-content: center;

		}