@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:970px){

	.header>div{
			width: auto;
			margin: 0px;
			display: flex;
		   	flex-direction: column;

	}
	.name
	{
		width: auto;
		margin:20px;
		display: flex;
		flex-direction: column;
		text-align: center;

	}


	.menu>div{
		width: auto;
		margin:20px 0px 20px 60px;
		display: flex;
		flex-direction: column;
		text-align: center;

	}

	.section{
		display: flex;
		flex-direction: column;
		width: auto;
		margin: 0px;

	}
	.firsttext
	{
		width: auto;
		margin: 0px;

	}

	.topcontainer
		{
		width: auto;
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-content: center;

	}
	.topcontainer>div
	{
		margin: 0px;
		align-content: center;
	}
	.img1>img
	{
		width: 350px;
		margin:20px 0px 0px 80px;
	}
	.bottomcontainer
	{
		width: auto;
		margin: 0px;
		display: grid;
		grid-template-columns: auto auto;
		align-content: center;
	
	}

	.footer{
		width: auto;
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-content: center;

	}
}