@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:768px){
	.header{
		display: flex;
		flex-direction: column;
		text-align: center;

	}
	.name{
		width: auto;
		margin: 0 ;
	}

	.menu{
		width: auto;
		margin: 0;
		display: flex;
		flex-direction: column;
	
		
	}
	.menu>div{
		width: auto;
		margin: 20px auto ;
		text-align: center;
	}

	
	.review{
		width: auto;
		margin:0;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.topcontainer
	{
		width: auto;
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.secondcontainer
	{
		width: auto;
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.thirdcontainer
	{
		width: auto;
		margin:0px 0px 0px 50px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.bottomcontainer
	{
		width: auto;
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.topcontainer>.img
	{
		margin-left:60px;
	}
	.secondcontainer>.img
	{
		margin-left:60px;;
	}
	.thirdcontainer>.img
	{
		margin-right: 20px;
	}
	.bottomcontainer>.img
	{
		margin-left:60px;
	}

	.footer{
		width: auto;
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-content: center;

	}
	
}