@charset "utf-8";
/* CSS Document */


.tutorials{
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	font-size: 30px;

}
.tutorials h1{

	border-bottom: solid red;
	border-width: medium;
	text-align: center;
	margin-bottom: 5px;
}
h2{

	border-bottom: solid red;
	border-width: medium;
	text-align: center;
	margin-bottom: 5px;
}
.topcontainer
{	
	width: 1000px;
	margin: 22px 400px 0px 100px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 30px;

}

.midcontainer
{
	width: 1000px;
	margin: 22px 400px 0px 100px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 30px;


}
.bottomcontainer
{	
	width: 1000px;
	margin: 22px 400px 50px 100px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 30px;

}

.img img{
	width: 250px;
	border-radius:50px;
	margin-top: 20px;
}
.text
{
	width: 500px;
	margin: 10px;
}
